<div class="card">
    <h1>Datos del creador de la pagina</h1>
    <p class="title">Martín Herrera</p>
    <div class="title"><img src="../../../../assets/perfil.png" alt="" class="fotoPerfil"></div>
    <p class="title">Información del juego propio: </p>
    <p>La idea es elegir una cantidad de puntos que el usuario quiera apostar antes de empezar el juego, una vez que inicia pasa lo siguiente: el jugador va a ver una grilla de botones donde al pulsar uno tendrá una probabilidad de ganar o perder. Si gana obtendrá los puntos que apostó multiplicado por una cantidad y tendrá la posibilidad de continuar jugando o retirar lo que ganó.
        Si retira lo que gano el juego se termina ahí y puede empezar de nuevo.
        Si decide continuar podrá tocar cualquier otro botón de la grilla, cuantas más veces seguida vaya ganando será mayor el multiplicador de la recompensa.</p>
    
    <p class="title">¿Como jugar?</p>
    <p>1) Escriba el monto que desea apostar en la casilla de texto que figura al lado del texto 'Mi apuesta:'</p>
    <p>2) Presione el boton "Apostar".</p>
    <p>3) Tocar cualquier boton de la grilla de botones.</p>
    <p>Recuerde que el sistema le mostrara en todo momento lo siguiente datos: </p>
    <ul>
        <li>Sus puntos puntos actuales: sus puntos antes de jugar</li>
        <li>Su apuesta: la cantidad que desea apostar/la que ya aposto</li>
        <li>Probabilidad de perder: probabilidad de perder el juego</li>
        <li>Monto actumulado: lo acumulado mientras no haya perdido o no haya retirado los puntos</li>
    </ul>
</div>
