<div class="main">
    <div class="card">
        <div class="container">
            <div id="botones">
                <button (click)="jugar()"(click)="jugar()">X</button>
                <button (click)="jugar()"(click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>
                <button (click)="jugar()">X</button>

                <div id="controles">
                    <label for="punt">Mis puntos actuales: </label>
                    <input type="text" name="punt" class="punt" readonly [(ngModel)]="puntosActuales">
                    <label for="apuesta">Mi apuesta: </label>
                    <input type="number" name="apuesta" id="apuesta" [(ngModel)]="apuesta"><br>
                    <label for="probLose">Probabilidad de perder: </label>
                    <input type="text" name="probLose" class="punt" readonly [(ngModel)]="probabilidadPerder">
                    <label for="montAcum">Monto acumulado: </label>
                    <input type="number" name="montAcum" class="punt" readonly [(ngModel)]="montoAcumulado">
                    <button (click)="apostar()" id="apostar">Apostar</button><br>
                    <button (click)="retirarApuesta()" id="terminar">Retirar monto acumulado</button><br>
    
                </div>
            </div>
        </div>
      </div>
</div>

