<div id="main">
    <div id="body">
    
        <div id="cartas">
            <div class="container">
                <p>Carta</p>
                <p id="nmroAleatorio" style="width:100%; font-size: large;">{{numAleatorio}}</p>
            </div>
        </div>
    
        <hr>
        <div id="controles">
            <p>La proxima carta es: </p>
            <button id="mayor" (click)="eligio('mayor')" class="btnReset"> Mayor </button>
            <button id="menor" (click)="eligio('menor')" class="btnReset"> Menor </button>
            <p>Puntuación:{{puntos}}</p>
        </div>


    
    
    </div>
    
</div>