<label for="edadUno">Edad 1</label>
<br>
<input type="text" [(ngModel)]="edadUno">
<br>
<label for="edadDos">Edad 2</label>
<br>
<input type="text" [(ngModel)]="edadDos">
<br><br>
<div>
  <input type="button" value="Calcular" (click)="calcular()">
  <input type="button" value="Limpiar" (click)="limpiar()">
  <a class="btnlink" routerLink="/home">Back home</a>
</div>
<br>
<div>
  <label for="prom">Promedio:</label>
  <input type="text" [(ngModel)]="prom">
  <br>
  <label for="sum">Suma:</label>
  <input type="text" [(ngModel)]="suma">
</div>